<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net>
    <logger name="Spring" xdt:Locator="Match(name)">
      <level value="INFO" xdt:Transform="Replace" />
    </logger>
    <logger name="CastleHillGaming" xdt:Locator="Match(name)">
      <level value="INFO" xdt:Transform="Replace" />
    </logger>
  </log4net>

  <spring>
    <objects xmlns="http://www.springframework.net">

      <object name="PasswordBasedCryptographer"
              type="CastleHillGaming.GameShare.CommonUtils.PasswordBasedCryptographer, CastleHillGaming.GameShare.CommonUtils"
              xdt:Transform="Insert">
        <property name="SaltBitSize" value="128" />
        <property name="KeyObtentionIterations" value="111043" />
        <property name="EncryptionAlgorithm" value="AES" />
        <property name="DecryptionAlgorithm" value="PBEWithSHA256And256BitAES-CBC-BC" />
        <property name="KeySize" value="256" />
      </object>

      <object name="AmqConnectionFactory"
              type="CastleHillGaming.GameShare.CommonUtils.AmqConnectionFactory, CastleHillGaming.GameShare.CommonUtils"
              xdt:Locator="Match(name)" xdt:Transform="Replace">
        <constructor-arg index="0" ref="PasswordBasedCryptographer" />
        <constructor-arg index="1" value="CHG_PBE_ENC" />
        <constructor-arg index="2" value="urdprcr" />
        <constructor-arg index="3" value="xHzMw7XqRz7n8DrgCLrpil68uSTCbR6PgOkSE4ZcZRUsSAfVetjVMPTtSsV3IqN3H/C4le/SgZLXzbNJGd+kEgboLMHc1oon2NpfmyUi2I8=" />
        <constructor-arg index="4" value="ssl" />
        <constructor-arg index="5" value="CHG-WR-AMQBROKR" />
        <constructor-arg index="6" value="61619" />
        <constructor-arg index="7" value="C:\chg\gameShareProcessing\keys\ChgWrRdpAmqClient.pfx" />
        <constructor-arg index="8" value="KpKleL46KVPVLmpRy2QsTvP1dA2695fd3fNUK1QvlpxC8h5m03CK4haS2kLjI2hTyKsDTi6ipsl4Mq0ZQgwJVAcuENdrDvIarXLV9fyXaZY=" />
      </object>

    </objects>
  </spring>

</configuration>