<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.3894" newVersion="1.7.1.3894" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.20711" newVersion="1.3.1.20711" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <!--
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="WARN" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <target value="Console.Error" />
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
    </appender>
    -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <file value="C:\chg\gameShareProcessing\logs\videoRecorder.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="ErrorSeparatorAppender" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="C:\chg\gameShareProcessing\logs\videoRecorderError.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <ignoresException value="false" />
        <conversionPattern value="%newline---------- ERROR @ %date ----------%newline" />
      </layout>
    </appender>
    <appender name="ErrorThresholdAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="24" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <appender-ref ref="ErrorFileAppender" />
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <file value="C:\chg\gameShareProcessing\logs\videoRecorderError.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="-1" />
      <countDirection value="1" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="ColoredConsoleAppender" />-->
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorSeparatorAppender" />
      <appender-ref ref="ErrorThresholdAppender" />
    </root>
    <logger name="Spring">
      <level value="INFO" />
    </logger>
    <logger name="CastleHillGaming">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>Game Share Video Recording Service Spring IoC Configuration</description>
      <object name="VideoRecordingService"
              type="CastleHillGaming.GameShare.VideoRecorder.VideoRecordingService, CastleHillGaming.GameShare.VideoRecorder"
              autowire="autodetect">
        <property name="GameDirectoryPath" value="C:\chg\gameShareProcessing\Games" />
        <property name="VideoRecordDirectoryPath" value="C:\chg\gameShareProcessing\video\tmp-record" />
        <property name="VideoUploadDirectoryPath" value="C:\chg\gameShareProcessing\video\tmp-upload" />
        <property name="GameRecallDataFile" value="gameRecallData.txt" />
        <property name="AirGameWindowTitle" value="CastleHillGame" />
        <property name="AirProcWaitTimeoutMillis" value="180000" />
        <property name="FinalizeWaitTimeoutMillis" value="4250" />
      </object>
      <object name="ObsRecorder"
              type="CastleHillGaming.GameShare.VideoRecorder.ObsRecorder, CastleHillGaming.GameShare.VideoRecorder"
              autowire="autodetect">
        <property name="GameShareRootDirectory" value="C:\chg\gameShareProcessing" />
        <property name="ObsWindowTitle" value="OBS" />
        <property name="ObsStartStopButtonId" value="Qt5QWindowIcon10" />
        <property name="ObsExitButtonId" value="Qt5QWindowIcon10" />
      </object>
      <object name="MsgProducer"
              type="CastleHillGaming.GameShare.VideoRecorder.MessageProducer, CastleHillGaming.GameShare.VideoRecorder">
        <property name="NmsTemplate" ref="NmsTemplate" />
        <property name="JobInfoDestination">
          <object type="Apache.NMS.ActiveMQ.Commands.ActiveMQQueue, Apache.NMS.ActiveMQ">
            <constructor-arg value="WinstantReplay-JobInfo" />
          </object>
        </property>
        <property name="VideoUploadDestination">
          <object type="Apache.NMS.ActiveMQ.Commands.ActiveMQQueue, Apache.NMS.ActiveMQ">
            <constructor-arg value="WinstantReplay-VideoUploading" />
          </object>
        </property>
      </object>
      <object name="PasswordBasedCryptographer"
              type="CastleHillGaming.GameShare.CommonUtils.PasswordBasedCryptographer, CastleHillGaming.GameShare.CommonUtils">
        <property name="SaltBitSize" value="128" />
        <property name="KeyObtentionIterations" value="84691" />
        <property name="EncryptionAlgorithm" value="AES" />
        <property name="DecryptionAlgorithm" value="PBEWithSHA256And256BitAES-CBC-BC" />
        <property name="KeySize" value="256" />
      </object>
      <object name="AmqConnectionFactory"
              type="CastleHillGaming.GameShare.CommonUtils.AmqConnectionFactory, CastleHillGaming.GameShare.CommonUtils">
        <constructor-arg index="0" ref="PasswordBasedCryptographer" />
        <constructor-arg index="1" value="CHG_PBE_ENC" />
        <constructor-arg index="2" value="uvidrcdr" />
        <constructor-arg index="3" value="yslGkDTIAvb1dlorQUWDJuw6vAtj9XbHYeW54vMyzIXoKa6TR2ozcVDK+O2poYED" />
        <constructor-arg index="4" value="ssl" />
        <constructor-arg index="5" value="CHG-WR-AMQBROKR" />
        <constructor-arg index="6" value="61619" />
        <constructor-arg index="7" value="C:\chg\gameShareProcessing\keys\ChgWrVidRecAmqClient.pfx" />
        <constructor-arg index="8" value="gyUkOcrpHD4Dyc6Es1RgIDrYAb1nyXdkPaDalLgYzp/6Mi/qjK7brwK0DwSzjRzO" />
      </object>
      <!-- for testing without ActiveMQ certificate authentication and user authorization/authentication,
      use this definition of AmqConnection in place of the one above
      <object name="AmqConnectionFactory"
              type="CastleHillGaming.GameShare.CommonUtils.AmqConnectionFactory, CastleHillGaming.GameShare.CommonUtils">
        <constructor-arg index="0" value="" />
        <constructor-arg index="1" value="" />
        <constructor-arg index="2" value="tcp://CHG-WR-AMQBROKR:61616" />
      </object>
      -->
      <object name="ConnectionFactory"
              type="Spring.Messaging.Nms.Connections.CachingConnectionFactory, Spring.Messaging.Nms">
        <property name="SessionCacheSize" value="10" />
        <property name="TargetConnectionFactory" ref="AmqConnectionFactory" />
      </object>
      <object name="MessageHandler"
              type="CastleHillGaming.GameShare.VideoRecorder.MessageHandler, CastleHillGaming.GameShare.VideoRecorder"
              autowire="autodetect">
        <property name="GameDirectoryPath" value="C:\chg\gameShareProcessing\Games" />
      </object>
      <object name="MessageListenerAdapter"
              type="Spring.Messaging.Nms.Listener.Adapter.MessageListenerAdapter, Spring.Messaging.Nms">
        <property name="HandlerObject" ref="MessageHandler" />
        <property name="MessageConverter">
          <null />
        </property>
      </object>
      <object name="MessageListenerContainer"
              type="Spring.Messaging.Nms.Listener.SimpleMessageListenerContainer, Spring.Messaging.Nms">
        <property name="ConnectionFactory" ref="ConnectionFactory" />
        <property name="DestinationName" value="WinstantReplay-VideoRecording" />
        <property name="MessageListener" ref="MessageListenerAdapter" />
      </object>
      <object name="NmsTemplate" type="Spring.Messaging.Nms.Core.NmsTemplate, Spring.Messaging.Nms">
        <property name="ConnectionFactory" ref="ConnectionFactory" />
      </object>
    </objects>
  </spring>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
           description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
           type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>