<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CastleHillGaming.Hms.DataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity.EF6, Version=7.11.1202.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <CastleHillGaming.Hms.DataModel.Properties.Settings>
      <setting name="EventEntityHashKey" serializeAs="String">
        <value>uAz9blJ3qK21QcWElLTCmqdeQT7Qhd5q3CBR7OWuJRvgwTx5eE4bXgHszj1Nozw</value>
      </setting>
      <setting name="MeterEntityHashKey" serializeAs="String">
        <value>mUxBWFYonwhPeFYjl5zuIQt3oShOtxRF4FgAOAX7kz88dgNN6VtuTPoZjVtqIkd</value>
      </setting>
      <setting name="MetricEntityHashKey" serializeAs="String">
        <value>wpaWQo88ZG4s4xIYRSGei3CxWEhkV8BLsosto0A5YdIHK1zocU681uHPsfOyeWN</value>
      </setting>
      <setting name="WindowsEventEntityHashKey" serializeAs="String">
        <value>nB3v4MSTe61TgHrGrmgpnPwCDA1N9HYRxJ3snhha21loKiuWiMOnvMpg3NaVXce</value>
      </setting>
      <setting name="VersionEntityHashKey" serializeAs="String">
        <value>nKxe1EktUSZoOmTm4CYjr8eXx4bAUxRDzTDOo57SsJhmTTwTgcjMokLJ83nbsho</value>
      </setting>
    </CastleHillGaming.Hms.DataModel.Properties.Settings>
  </applicationSettings>
</configuration>